<!DOCTYPE html>
<html>
<head lang="en">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script>
        $(function () {
            $('#followers_chart').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '{{ name }} \'s followers Stats'
                },
                subtitle: {
                    text: 'Followers, Followers, Thanks'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Count'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x: %b.%e %H:%M }: {point.y} '
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Followers',
                    // Define the data points. All series have a dummy year
                    // of 1970/71 in order to be compared on the same x axis. Note
                    // that in JavaScript, months start at 0 for January, 1 for February etc.
                    data: [
                        {% for entry in followers_list %}
                            [{{entry.0}}, {{entry.1}}],
                        {% endfor %}

                    ]
                }
                ]
            });

            $('#upvotes_chart').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '{{ name }} \'s upvotes Stats'
                },
                subtitle: {
                    text: 'Followers, Followers, Thanks'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Count'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x: %b.%e %H:%M }: {point.y} '
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [
                    {
                        name: 'Upvotes',

                        data: [
                            {% for entry in upvotes_list %}
                                [{{entry.0}}, {{entry.1}}],
                            {% endfor %}

                        ]
                    }
                ]
            });

            $('#thanks_chart').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '{{ name }} \'s thanks Stats'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Count'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x: %b.%e %H:%M }: {point.y} '
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [
                    {
                        name: 'Thanks',

                        data: [
                            {% for entry in thanks_list %}
                                [{{entry.0}}, {{entry.1}}],
                            {% endfor %}

                        ]
                    }
                ]
            });
        });


    </script>

    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="followers_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="upvotes_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="thanks_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>