<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>All Candidates</title>
</head>
<body>

Add new user:
<form action="{% url 'input_user:record' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Submit"/>
</form>

<br>
{% for entry in candidates_list %}
    <a href="{% url 'input_user:show' entry %}">{{ entry }}</a> <a href="{% url 'input_user:delete' entry %}">Delete</a>
    <br/>
{% endfor %}
</body>
</html>